.hidden{
	display:none;
}
.div_loading{
	background: #000000;
	display: none;
	opacity: 0.6;
	height: 100%;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 99999;
}
.image_loading_popup{
	position:absolute;
	top:40%;
	left:45%;
	padding:10px;
}
.isa_info, .isa_success, .isa_warning, .isa_error {
	margin: 10px 0px;
	padding:5px;
}
.isa_info {
	color: #00529B;
	background-color: #BDE5F8;
}
.isa_success {
	color: #4F8A10;
	background-color: #DFF2BF;
}
.isa_warning {
	color: #9F6000;
	background-color: #FEEFB3;
}
.isa_error {
	color: #D8000C;
	background-color: #FFBABA;
}
.isa_info i, .isa_success i, .isa_warning i, .isa_error i {
	margin:10px 22px;
	font-size:2em;
	vertical-align:middle;
}
#admin-login{
	background-image: url(/templates/images/admin-background.jpg);
}
#popup_ok, #popup_cancel{
	background: green;
	color: white;
}
#popup_title{
	color: white !important;
	background: green !important;
}
